<div class="panel panel-default" style="margin-left:-3px">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 padding-left-10">
      <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
    </div>
  </div>
  <div class="panel-heading section-padding">
    <h3 class="panel-title" style="font-size: 24px">Job Maintenance - New</h3>
  </div>

  <div class="panel-body section-padding">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Job Name</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <app-input (inputTextSelected)='this.jobName = $event' #inputjobName [value]='jobName' maxlength="60"></app-input>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Target</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input (inputTextSelected)='this.target = $event' #inputtarget [value]='target' maxlength="60"></app-input>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Technical DL</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.technicalDl = $event' [selectedItem]='technicalDl'></app-dropdown>
            </div>
          </div>
        </div>
         <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Problem Solving</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input-text-area rowSize='6' (inputTextAreaSelected)='this.problemSolving= $event' [value]='problemSolving' name='control'></app-input-text-area>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Technical Name</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input (inputTextSelected)='this.technicalName = $event' #inputtechnicalName [value]='technicalName' maxlength="60"></app-input>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Error Log File</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input (inputTextSelected)='this.errorLogFile = $event' #inputerrorLogFile [value]='errorLogFile' maxlength="60"></app-input>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Classification</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.classification = $event' [selectedItem]='classification'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Description</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input-text-area rowSize='6' (inputTextAreaSelected)='this.description= $event' [value]='description' name='control'></app-input-text-area>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">System</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.system = $event' [selectedItem]='system'></app-dropdown>
            </div>
          </div>
        </div>
         <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Priority</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.priority = $event' [selectedItem]='priority'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Status</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.status = $event' [selectedItem]='status'></app-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Source</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-multiselect [dataSource]='mockMultiDropDownData' (selectedMultiSelect)='changeSource($event)' [selectedItems]='selectedSource'></app-multiselect>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Business DL</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.businessDl = $event' [selectedItem]='businessDl'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Dimension</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.dimension = $event' [selectedItem]='dimension'></app-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row addCheckListButtons">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <app-button (click)="saveData()" [disabled]='disable()' label="Apply" styleClass='button-action'></app-button>
      <app-button (click)="saveData()" [disabled]='disable()' label="Save" styleClass='button-action'></app-button>
      <app-button (click)="resetAll()" label="Clear All" styleClass='button-action'></app-button>
    </div>
  </div>
</div>