<div class="panel panel-default maindivmargin">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 padding-left-10">
      <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
    </div>
  </div>
  <div class="panel-heading section-padding">
    <h3 class="panel-title">Job Maintenance - Search</h3>
  </div>

  <div class="panel-body section-padding">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-4">
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Job Name</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <!--<app-multiselect [dataSource]='activeEmployees' (selectedMultiSelect)='changeJobName($event)' [selectedItems]='selectedJobName'></app-multiselect>-->
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedJobName = $event' [selectedItem]='selectedJobName'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Business DL</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedBusinessDl = $event' [selectedItem]='selectedBusinessDl'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Status</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.status = $event' [selectedItem]='status'></app-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4">
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Source</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <!--<app-multiselect [dataSource]='activeEmployees' (selectedMultiSelect)='changeSource($event)' [selectedItems]='selectedSource'></app-multiselect>-->
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedSource = $event' [selectedItem]='selectedSource'></app-dropdown>
            </div>
          </div>
        </div>
         <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Technical DL</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <!--<app-multiselect [dataSource]='activeEmployees' (selectedMultiSelect)='changeTechnicalDl($event)' [selectedItems]='selectedTechnicalDl'></app-multiselect>-->
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedTechnicalDl = $event' [selectedItem]='selectedTechnicalDl'></app-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4">
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Priority</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.priority = $event' [selectedItem]='priority'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Classification</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.classification = $event' [selectedItem]='classification'></app-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row addCheckListButtons">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <app-button (click)="saveData()" [disabled]='disable()' label="Search" styleClass='button-action'></app-button>
      <app-button (click)="resetAll()" label="Clear All" styleClass='button-action'></app-button>
    </div>
  </div>
</div>